@import "variables";

*,
input[type="text"] {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html,
input[type="text"] {
	font: $font;
}

body {
	color: $primary;
	background: $bg-body;
	overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
}

img {
	width: 100%;
	display: block;
}

button {
	font: $font;
	background: $bg-btn;
	color: $secondary;
	padding: 0.5rem;
	border-radius: $s-br;
	outline: none;
	border: none;
	cursor: pointer;
}

button:hover {
	background: $bg-btn-hov;
}

a {
	text-decoration: none;
	color: $secondary;
}

li {
	list-style: none;
}

.App {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;

	.header {
		margin-top: $l-gap;
		font-size: 1.8rem;

		a {
			display: flex;
			color: $bg-btn;

			&:hover {
				color: $bg-btn-hov;
			}
		}
	}
}

@media screen and (min-width: 768px) {
	html,
	button {
		font-size: 17px;
	}
}

@media screen and (min-width: 992px) {
	html,
	button {
		font-size: 18px;
	}
}
