// colors
$primary: #1b313a;
$secondary: #f1faee;
$ternary: #51bfdd;
$ternary-hov: #e3f3ff;

$bg-body: #0e1d33;
$bg-btn: #e95530;
$bg-btn-hov: #e43b11;

//font
$font: 400 16px "Poppins", Helvetica, sans-serif;

//spacing
$s-gap: 1rem;
$m-gap: 1.5rem;
$l-gap: 3rem;

//border-radius
$s-br: 5px;
$m-br: 10px;
$l-br: 15px;

//box-shadow
$box-shadow: 0px 0px 10px #847e7e;
