// colors
$primary: #1b313a;
$secondary: #f1faee;
$bg-cont: #f1faee;
$bg-body: #1d3557;
$bg-btn: #e95530;
$bg-btn-hov: #e43b11;
$ternary: #49a6e9;
$ternary-hov: #deedf8;

//font
$font: 400 16px "Poppins", sans-serif;

//spacing
$s-gap: 1rem;
$m-gap: 1.5rem;
$l-gap: 3rem;

//border-radius
$s-br: 5px;
$m-br: 10px;
$l-br: 15px;
