// colors
$primary: #1b313a;
$secondary: #f1faee;
$bg-cont: #f1faee;
$bg-body: #1d3557;
$bg-btn: #e95530;
$bg-btn-hov: #e43b11;

//font
$font: 400 16px "Poppins", sans-serif;

//spacing
$sgap: 1rem;
$mgap: 2rem;
$lgap: 3rem;
