@import "../../sass/variables";

.reminder-cont {
	width: 90%;
	max-width: 500px;
	margin: $lgap auto;
	padding: $sgap $mgap;
	background: $bg-cont;
	border-radius: 10px;
	box-shadow: 0px 0px 10px #a4a4a4;

	h2 {
		margin-bottom: $sgap;
	}

	.profile {
		display: flex;
		flex-flow: row nowrap;
		align-items: center;
		margin: $sgap 0;

		.img-cont {
			width: 35%;
			max-width: 90px;

			.profile-img {
				width: 70px;
				height: 70px;
				background-size: cover;
				background-repeat: no-repeat;
				background-position: center;
				border-radius: 50%;
			}
		}

		.profile-info {
			width: 60%;
		}

		.profile-check {
			width: 15%;
			text-align: center;
			cursor: pointer;
			font-size: 1.1rem;
		}
	}

	button {
		width: 100%;
		padding: 0.5rem;
		margin: $sgap 0;
		border-radius: 5px;
	}
}
