@import "../../sass/variables";

.tours-cont {
	width: 100%;
	text-align: center;
	margin: $l-gap auto;
	padding: 0 $m-gap;
	max-width: 1200px;

	h1 {
		text-transform: capitalize;
		color: $secondary;
	}

	.underline {
		width: 6rem;
		height: 5px;
		background: $ternary;
		margin: 0 auto $l-gap auto;
	}

	.empty-tour,
	.loading {
		color: $secondary;
		margin: $m-gap 0;
	}
}

@media screen and (min-width: 1000px) {
	.tour-list {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: stretch;
	}
}
