@import "../../sass/variables";

.home-page {
	margin: $l-gap auto;
	width: 90%;
	max-width: 1000px;

	h1 {
		text-align: center;
		text-transform: uppercase;
		color: $ternary-hov;
		margin-bottom: $l-gap;

		.react-logo {
			display: block;
			margin: 0 auto $m-gap auto;
			color: $ternary;
			font-size: 4rem;
		}
	}

	.react-components {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-evenly;
		align-items: center;

		li {
			border: 1.5px solid $secondary;
			border-radius: $s-br;
			width: 100%;
			margin-bottom: $m-gap;
			background-color: #3f4f682d;

			svg {
				color: $ternary-hov;
				font-size: 1.5rem;
				margin-right: $s-gap;
			}

			a {
				font-weight: 500;
				color: $bg-btn;
				padding: $s-gap $s-gap $s-gap 5rem;
				width: 100%;
				display: flex;
				flex-flow: row nowrap;
				align-items: center;

				@media screen and (min-width: 768px) {
					padding: $s-gap;
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.home-page {
		.react-components li {
			width: 45%;
		}
	}
}

@media screen and (min-width: 992px) {
	.home-page .react-components {
		li {
			width: 30%;
		}
	}
}
